# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Flappy.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\Desktop\Flappy\Flappy\.idea\.idea.Flappy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
